@import url(variables.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: var(--color-primary);
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 8px;
    grid-template-areas:
    "menu menu menu menu menu menu menu menu menu menu menu menu"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales devs devs"
    "week week week week sales sales sales sales sales sales devs devs"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    ;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-primary);
    border-radius: 5px;
}
.item_1{
    /* background: red; */
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box1_item1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--color-secundary);
    border-radius: 5px;
    border: 1px var(--color-primary);
}
.box1_item1 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box1_item1 li {
    padding: 10px;
    list-style: none;
}
.box1_item1 a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    color: var(--color-font);
}
.box1_item1 i{
    position: absolute;
    margin-left: 25%;
}
input {
    margin-left: 10%;
}
.search_button input {
    height: 50%;
    width: 90%;
    padding: 5% 9%;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
}

.search_button1::placeholder {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--color-font);
    font-family: sans-serif;
}

.box2_item1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right ,var(--color-radient-1), var(--color-radient-2));
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.box2_item1 .icons_item1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box2_item1 ul {
    list-style: none;
}
.box2_item1 .icons_item1 i {
    font-size: 1.5em;
    padding: 15px;
}
.box2_item1 .text_item1 {
    width: 300px;
}
.box2_item1 .text {
    width: 150px;
    display: flex;
    line-height: 20px;
    flex-direction: column;
    margin-left: 22%;
    text-align: right;
}
.box2_item1 .icon_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-right: 8%;
}
.box2_item1 .text_item1 h4 {
    font-size: .9em;
    font-weight: 200px;
}
.box2_item1 .text_item1 p {
    font-size: .8em;
}
.item_2{
    grid-area: notification;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.box1_item2 {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px var(--color-primary);
    background: var(--color-radient-1);
}
.text p{
    font-size: .8em;
    line-height: 20px;
}
.text h4 {
    font-size: .9em;
    font-weight: 100px;
}
.box1_item2 .icon_profile {
    position: absolute;
    font-size: 2.3em;
    position: absolute;
    margin-top:  13%;
}
.icon1_profile {
    position: absolute;
    margin-left: 75%;
    margin-top:  -26.5%;
    display: flex;
    flex-direction: column-reverse;
}
.icon1_profile i {
    font-size: 2.3em; 
    padding: 22px 0px;
    
}
.item_3{
    background: var(--color-secundary);
    border-radius: 5px;
    z-index: 5;
    border: 1px var(--color-primary);
    grid-area: sales;
}
.box1_item3 {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.box1_item3 h3 {
    width: 100%;
    height: 25%;
    padding-top: 0px;
    font-size: 1.4em;
    font-family: sans-serif;
}
.first_text {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first_text .first_text_text1 {
    font-size: 1.3em;
    color: gray;
}
.first_text .first_text_text2 {
    font-size: .9em;
    color: gray;
}
.first_text_text2 i {
    font-size: 1.3em;
    color: var(--color-font);
}
.second_text {
    padding:7px 0px;
}
.second_text p{
    padding: 7px 0px;
}

.second_text .money_gain {
    font-size: 1.8em;
}
.second_text .value1_item3 {
    font-size: 1.2em;
    color: var(--color-radient-2);
}
.box2_item3 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box2_item3 img {
    width: 375px;
    height: 125px;
    position: absolute;
    z-index: -1;
    margin-left: 1%;
    margin-bottom: 4%;
}

.box2_item3 p {
    display: flex;
    color : gray;
    text-transform: capitalize;
    margin-bottom: -13%;
    justify-content: center;
}
.item_4{
    background: var(--color-secundary);
    border-radius: 5px;
    grid-area: balance;

}
.box1_item4 {
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
.box1_item4 p, .box2_item4 p, .box3_item4 p {
    text-transform: capitalize;
    width: 120px;
    padding: 3px 0px;
    display: flex;
    flex-direction: row;
}
.box1_item4 .text1, .box2_item4 .text2, .box3_item4 .text3{
    text-transform: capitalize;
    font-size: .8em;
    color: gray;
}
.box1_item4 .value1, .box2_item4 .value2, .box3_item4 .value3 {
    font-size: 1.3em;
    color: var(--color-font);
}
.box2_item4 {
    width: 100%;
    height: 33.3%;
    display: flex;
    border-radius: 5px;
    background: var(--color-radient-3);
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}


.box3_item4 {
    width: 100%;
    height: 33.3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.item_5{
    background: var(--color-secundary);
    grid-area: week;
    border-radius: 5px;
    z-index: 5;
}
.box1_item5 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
}
.box1_item5 .text1_item5 p{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
.box1_item5 .text1_item5 .text_item5 {
    font-size: 1em ;
    text-transform: capitalize;
    color: var(--color-font);
}
.box1_item5 .text1_item5 .value1_item5 {
    font-size: 1.5em ;
    text-transform: capitalize;
    color: var(--color-font);
}
.box1_item5 .icon1_item5, .box1_item5 .icon2_item5 {
    width: 261px;
    height: 92px;
    position: absolute;
}
.box1_item5 .icon1_item5  i{
    font-size: 1.5em;
    background: var(--color-radient-3);
    border-radius: 15px;
    margin-top: 6%;
    margin-left: 62%;
    padding: 5px;

}
.box1_item5 .icon2_item5 i{
    font-size: 1.5em;
    background: var(--color-radient-1);
    border-radius: 15px;
    margin-top: 6%;
    margin-left: 78%;
    padding: 5px;
}
.box2_item5 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.box2_item5 img {
    position: absolute;
    width: 260px;
    height: 100px;
    margin-top: -3%;
    z-index: -1;
}
.item_6{
    background:var(--color-radient-2);
    grid-area: devs;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

.box1_item6 {
    width: 100%;
    height: 60%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}
.box1_item6 .text1_item6 p {

    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2px 0px;
}
.box1_item6 .text1_item6 .hour_item6{ 
    display: flex;
    flex-direction: row;
    font-size: .9em;
}
.meeting_item6 {
    font-size: 1.2em;
}
.box1_item6 .button {
    width: 127px;
    height: 78px;
    margin-top: 5%;
    margin-left: 15%;
    padding: 7px 0px;
}
.box1_item6 .button button {
    position: absolute;
    border-radius: 3px;
    border: none;
    font-size: 0.6em;
    padding: 3px 3px;
}

.item_7{
    background: var(--color-secundary);
    grid-area: product;
    border-radius: 5px;
    border: 1px solid var(--color-secundary);
}

.item_7encabezado{
    display: flex;
    flex-direction: column;
}

.item_7texto{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    line-height: 30px;

}

.item_7texto h1{
    font-size: 20px;
    text-transform: capitalize;
}

.item_7texto p{
    font-size: 15px;
}

.item_7texto i{
    position: absolute;
    width: 326px;
    height: 80px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 0px 50px;
    font-size: 40px;
}

.item_7cuadros{
    height: 12%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.item_7cuadros p{
    background: rgb(182, 233, 81);
    width: 20%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-transform: capitalize;
}

.item_7perfiles{
    padding: 20px 15px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.item_7iconos{
    height: 20%;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.item_7iconos i{
    font-size: 40px;
}

.item_7__perfiles i{
    margin-left: 5%;
    margin-top: -40px;
    font-size: 40px;
}

.item_8{
    background: var(--color-secundary);
    border: 1px solid var(--color-primary);
    grid-area: timeline;
    z-index: 5;
}
.box1_item8 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1_item8 img {
    width: 460px;
    height: 192px;
    z-index: -1;
}
/* @media (width < 600px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0 5px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "menu menu"
        "notification notification"
        "sales balance"
        "week week"
        "devs devs"
        "product product"
        "timeline timeline"
    }
    .container div {
        border-radius: 8px
    }; */
